@import "partials/mixin";
@import "partials/params";

$color3: #1A5B5E;

.body__button {
  padding-top: 2%;
  .btn-3 {
    background-color: $color3;
    .round {
      background: none;
    }
  }

  a {
    text-decoration: none;
    padding: 0 3% 0 1%;

    @include media-breakpoint-down($lg) {
      padding: 0 6% 0 1%;
    }


    @include media-breakpoint-down($md) {
      padding: 0 8% 0 1%;
    }
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    position: relative;
    transition: all .3s;
    display: inline-block;
    span {
      position: relative;
      z-index: 3;
    }
    .round {
      width: 20%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .3s ease-out;
      z-index: 2;
      i {
        position: absolute;
        margin-top: 5.5px;
        left: 50%;
        margin-left: -50%;
        transition:all .3s;
      }
    }
  }

  .txt {
    font-size: 12px;
  }

  .type-2 {
    a:hover {
      .round {
        background-color: lighten($color3, 10%);
        i {
          left: 80%;
        }
      }
    }
  }
}