@import "partials/mixin";
@import "partials/params";

.footer {
  @include clear;

  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: $black;

  &__map {
    width: 45%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;

    @include media-breakpoint-down($md) {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  .politic__link {
    color: $black;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    padding-right: 10px;
  }

  .contacts__title {
    h3 {
      font-family: Roboto, sans-serif;
      text-transform: uppercase;
      font-size: $fs1;
      color: rgb(60, 60, 60);
      margin-top: $marg1;
      margin-bottom: 25px;

      @include media-breakpoint-down($md) {
        font-size: $fs2;
        margin-top: $marg2;
      }

      @include media-breakpoint-down($sm) {
        font-size: $fs3;
        margin-top: $marg3;
      }
    }
  }

  .contacts__relations {
    @include media-breakpoint-down($md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .contacts__address {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;

    h3 {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;

      @include media-breakpoint-down($md) {
        text-align: center;
      }
    }

    p {
      @include media-breakpoint-down($md) {
        text-align: center;
      }
    }

    a {
      font-size: 14px;
      font-weight: 300;
      color: #2a2a2a;
      text-decoration: underline;
    }
    @include media-breakpoint-down($md) {
      margin-bottom: 0;
    }
  }

  .contacts__phone {
    h3 {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 25px;
      color: $black;
      @include media-breakpoint-down($md) {
        text-align: center;
        margin: 0;
      }
    }

    a {
      color: #2a2a2a;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 25px;

      @include media-breakpoint-down($md) {
        margin-bottom: 10px;
      }
    }
  }

  .contacts__mail {
    h3 {
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
      @include media-breakpoint-down($md) {
        text-align: center;
      }
    }

    p {
      @include media-breakpoint-down($md) {
        text-align: center;
      }
    }
    a {
      color: #2a2a2a;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 25px;
    }
  }

  .contacts__rights {
    width: 55%;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 15px;

    @include media-breakpoint-down($md) {
      width: 85%;
      text-align: center;
    }
  }

  .contacts__politic {
    bottom: 0;
    margin-bottom: 10px;
    @include media-breakpoint-down($md) {
      text-align: center;
      margin-bottom: 10px;
    }

    span {
      font-weight: 400;
      font-size: 15px;
      a {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #82533b;
      }
    }
  }

  iframe {
    position: relative;
    bottom: 0!important;
  }

}

