@import "partials/mixin";
@import "partials/params";

header {

  .navbar {

    box-shadow: 0 1px 1px 1px rgba($black, .08);
    padding: 0!important;
    top: 0;
    position: fixed!important;
    width: 100%;
    z-index: 10;

    &-collapse {
      justify-content: flex-end;
      margin-right: 3rem;
    }

    .navbar-brand {
      padding-top: 0!important;
      padding-left: 4.5rem;
    }

    .nav-link {
      text-align: center;
      font-size: 14px !important;
      font-weight: 600 !important;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      color: #343434 !important;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      transition: all 0.2s;

      &:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: #343434;
        transition: width .6s ease-in-out;
      }
      &:hover {
        color: $black !important;
        &:after {
          width: 100%;
        }
      }
      @include media-breakpoint-down($lg){
        width: 100%;
      }
    }

    .navbar-toggler {
      padding: 32px;
      border: 0;
    }

    .navbar-nav {
      align-items: center;
      justify-content: center;
    }

  }

}



