@import "partials/mixin";
@import "partials/params";

.page__part {

  .part__head {

    .head__h1 {
      line-height: 1;
      margin-bottom: 10px;
      opacity: 0;
      margin-top: $marg1;
      text-align: center;
      font-size: $fs1;
      font-weight: 200;
      font-family: Roboto, sans-serif;
      color: $black;

      @include media-breakpoint-between($sm, $md) {
        margin-top: $marg2;
        font-size: 40px;
      }
      @include media-breakpoint-down($sm) {
        font-size: $fs3;
        margin-top: $marg3;
      }
    }

    p {
      opacity: 0;
      text-align: center;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: $marg1;

      @include media-breakpoint-between($sm, $md) {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: $marg2;
      }
      @include media-breakpoint-down($sm) {
        br {
          display: none;
        }
        margin-bottom: $marg3;
        padding: 0 5px;
        font-size: 12px;
        line-height: 14px;
      }
    }

  }

  .part__box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: $black;

    @include media-breakpoint-down($lg) {
      padding: 0 5% 0 5%;
    }
  }
  .part__advantages {
    overflow: hidden;
  }

  .part__advantage {
    opacity: 0;
    border-top: 1px #e6e6e6 solid;

    &:nth-child(5) {
      border-bottom: 1px #e6e6e6 solid;
    }
  }

  .part {
    width: 980px;
    margin: 0 auto;

    @include media-breakpoint-between($md, $lg) {
      width: 780px;
    }
    @include media-breakpoint-between($xs, $md) {
      width: 85%;
    }
  }

  .box__icon {
    display: flex;
    align-items: center;
    width: 320px;
    height: 240px;
    justify-content: center;

    @include media-breakpoint-between($md, $lg) {
      width: 240px;
      height: 240px;
    }
    @include media-breakpoint-between($xs, $md) {
      width: 160px;
      height: 160px;
    }

    img {
      @include media-breakpoint-between($sm, $md) {
        width: 110px;
      }
      @include media-breakpoint-between($xs, $sm) {
        width: 80px;
      }
    }

  }

  .box__data {
    font-size: 18px;
    width: 660px;
    padding: 40px 0;

    @include media-breakpoint-between($md, $xl) {
      width: 460px;
    }

    @include media-breakpoint-between($md, $lg) {
      font-size: 18px;
    }

    @include media-breakpoint-between($sm, $md) {
      h3 {
        font-size: 1.2rem;
      }
      font-size: 12px;
    }
    @include media-breakpoint-between($xs, $sm) {
      h3 {
        font-size: 1rem;
      }
      font-size: 10px;
      padding: 20px 0;
    }


  }
}