@import "partials/mixin";
@import "partials/params";

.pagination-container {
  margin: 100px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;

  @include media-breakpoint-down($sm) {
    margin: 30px 0 0 0;
  }
}

.pagination {
  position: relative;

  a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 15px 10px;

    &:before {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      top: 0;
      left: 0;
      background-color: #2c3e50;
      border-radius: 24px;
      transform: scale(0);
      transition: all 0.2s;
    }

    &:nth-child(n+5) {
      @include media-breakpoint-down($sm) {
        display: none;
      }
    }

    &:nth-child(n+4) {
      @include media-breakpoint-down($sm) {
        display: none;
      }
    }

    &:hover,
    .pagination-active {
      color: #fff;
      &:before {
        transform: scale(0.8);
      }
    }
  }
  .pagination-active {
    color: #fff;
    &:before {
      transform: scale(0.8);
    }
  }
}

.pagination-newer {
  margin-right: 50px;

  @include media-breakpoint-down($md) {
    margin-right: 0;
  }
}

.pagination-older {
  margin-left: 50px;

  @include media-breakpoint-down($md) {
    margin-left: 0;
  }
}

