@import "partials/mixin";
@import "partials/params";

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  color: $black;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.partners {

  &__title {
    color: $black;
    margin: $marg1;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: $fs1;

    @include media-breakpoint-down($md) {
      margin: $marg2;
      font-size: $fs2;
    }
    @include media-breakpoint-down($sm) {
      margin: $marg3;
      font-size: $fs3;
    }
  }

  &__swiper {
    margin-bottom: 8%;

    .swipper-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        max-width: 70%!important;
      }
    }
  }
}