/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto.ttf");
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto_light.ttf");
}
